.img{
  background-image: url("https://images.pexels.com/photos/256541/pexels-photo-256541.jpeg?cs=srgb&dl=pexels-pixabay-256541.jpg&fm=jpg");
  background-Position: center center;
  height:100vh;
  background-size:cover;
  background-repeat: no-repeat;
}
.title{
  background-color: #567cba;
  text-align: center;
}
.chat-container 
{
 background-color:rgba(255,255,255,0.5);
 border-radius: 0px 0px 16px 16px;
 border: 2px solid whitesmoke;
 margin:0 auto;
 align-items: center;
 width:60%;
 height:60%;
}
.msg-container {
  text-align:center;
}
.msg{
  border-radius: 18px;
  text-align:center;
  width:300px;
  height:50px;
}
.chatbot-header{
  margin-left:10px;
}
.bot-msg {
  color:white;
  border-radius: 0px 0px 16px 16px;
  margin-left:10px;
  margin-top:10px;
  padding:5px;
  border: 2px solid whitesmoke;
  background-color: #567cba;
  width:40%;
}
.user-header{
  text-align:right;
  margin-right:380px;
}
.user-msg {
  color:white;
  margin-left:auto;
  border-radius: 0px 0px 16px 16px;
  margin-right:10px;
  padding:5px;
  border: 2px solid whitesmoke;
  background-color:#313131;
  width:40%;
}
.btn-send {
  border-radius:40px;
  background-color: #567cba;
  width:100px;
  height:50px;
}
